.footeer{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

.LogoF{
    width: 500px;
    height: 200px;

}

.LogoFoo{
    background-image: url("../assets/img/logo2.png");
    width: 330px;
    height: 200px;

    
}