.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

.logo-section{
    margin-left: 20px;
    background-image: url("../assets/img/logo2.png");
    width: 430px;
    height: 200px;
    background-repeat: no-repeat;

}
    


.info-section{
    width: 500px;
    height: 200px;

}

.contact-section{
    width: 500px;
    height: 200px;
}
